<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql:///test</property>
        <property name="connection.username">root</property>
        <property name="connection.password">super</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping resource="DoMain/User.hbm.xml"/>
        <mapping resource="DoMain/Many2one/Department.hbm.xml"/>
        <mapping resource="DoMain/Many2one/Employee.hbm.xml"/>
        <mapping resource="DoMain/One2One/Person.hbm.xml"/>
        <mapping resource="DoMain/One2One/IdCare.hbm.xml"/>
        <mapping resource="DoMain/Many2Many/Student.hbm.xml"/>
        <mapping resource="DoMain/Many2Many/Teacher.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
